<div class="jumbotron-fluid text-center">
 
  <div class="jumbotron-extend">
    <div class="container">
      <div class="card-extend">
      <div class="top_main_card">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-12 col-xg-12">Potepan Shareでまだ体験したことのない旅をしよう</div>
                <div class="col-12 col-xg-12"><%= form_tag(search_rooms_path,:method => 'get') do %></div>
                <div class="col-12 col-xg-12"><%= text_field_tag :search %></div>
                <div class="col-12 col-xg-12"><%= submit_tag '探す', :address => nil %></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>  
      </div>  
    </div>
  
  </div>
</div>


<%# <div class="jumbotron-extend"> %>
<div class="container">
<h1 class="recommendarea">おすすめエリア</h1>
<%# <div class="row"> %>
<div class="card-deck">
<div class="card">
<img class="erea-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg">
  <div class="card-img-overlay">
    <div class="card-tirle">東京</div>
  </div>  
</div>

<div class="card">
<img class="erea-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg">
  <div class="card-img-overlay">
    <div class="card-tirle">大阪</div>
  </div>  
</div>

<div class="card">
<img class="erea-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg">
  <div class="card-img-overlay">
    <div class="card-tirle">京都</div>
  </div>  
</div>

<div class="card">
<img class="erea-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg">
  <div class="card-img-overlay">
    <div class="card-tirle">札幌</div>
  </div>  
</div>

<%# </div> %>
</div>
</div>
<%# </div> %>
