// indexの画面
table th {
  background-color: #fbc25b;
  padding: 10px 20px;
}

table td {
  background-color: #f9ecd5;
  padding: 10px 20px;
}

table{
  text-align: center;
}
// newの画面


.submission{
  width: 5rem;
  display: flex;
  justify-content: center;
}

dt{
  width: 10rem;
  padding:10px 0;
  float:left;
  clear:both;
}

dd{
  padding:10px 0;
}
.partial {
  border: 1px solid red;
  padding: 15px;
}